<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author"  content="{{ site.author }}">
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="keywords"  content="{% if page.tags.size > 0 %}{% for tag in page.tags  %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}">
    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:baseurl" content="{{ site.baseurl }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:gray" content="{{ site.gray }}">
    {% if site.google_search %}
    <meta name="google-site-verification" content="{{ site.google_search }}" />
    {% endif %}
    <meta name="theme-color" content="{{ site.pwa.color }}" />
    <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl }}" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/touch/apple-touch-icon.png"/>
    <link rel="Shortcut Icon" href="{{ site.favicon | prepend: site.baseurl }}">
    <link rel="icon" href="{{ site.favicon | prepend: site.baseurl }}" type="image/x-icon" />
    <link rel="bookmark" href="{{ site.favicon | prepend: site.baseurl }}" type="image/x-icon" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/normalize.min.css" />
    <link rel="stylesheet" href="{{ "/assets/css/plugins.min.css" | prepend: site.baseurl }}" />
    <link rel="preload" href="{{ "/assets/fonts/Merriweather-Regular.ttf" | prepend: site.baseurl }}" as="font" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ "/assets/fonts/Merriweather-Regular.ttf" | prepend: site.baseurl }}" media="print" onload="this.media='all'" />
    {% if site.prism.theme %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism-{{site.prism.theme}}.min.css" />
    {% else %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism.min.css" />
    {% endif %}
    {% if site.prism.line_numbers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/plugins/line-numbers/prism-line-numbers.min.css">
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/app.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.css" />
    <script src="//cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
</head>
