<div id="waline"></div>
<script>
  function loadWaline() {
    var s = document.createElement('script');
    s.setAttribute('src', '//cdn.jsdelivr.net/npm/@waline/client');
    s.async = false;
    document.body.appendChild(s);
    s.onload = () => {
      var valine = Waline({
        el: '#waline',
        serverURL: '{{ site.comments.waline.server }}',
        emoji: [
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw-emoji',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
        ],
        dark: 'html:not([data-mode]),html[data-mode=dark]',
        avatar: '{{ site.comments.waline.avatar }}',
        placeholder: '{{ site.comments.waline.placeholder }}',
      });
    };
  };

  setTimeout(function () {
    if ("IntersectionObserver" in window) {
      var io = new IntersectionObserver(function (entries) {
        if (entries[0].isIntersecting) {
          loadWaline();
          io.disconnect();
        }
      });
      io.observe(document.getElementById('waline'));
    } else {
      loadWaline();
    }
  }, 1);
</script>
