<!DOCTYPE html>
<html>
{% include head.html %}
<body ontouchstart="">
    <!--[if lt IE 10]>
    <div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
    <![endif]-->
    {% if site.gray %}
    <div id=all class="gray">
    {% else %}
    <div id="all">
    {% endif %}
      <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
      <div class="visible">
        {{ content }}
      </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/clipboard/dist/clipboard.min.js"></script>
    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/index.min.js" | prepend: site.baseurl }}"></script>
    <script src="//at.alicdn.com/t/font_3046306_rpxw9us9jmc.js"></script>
    {% include analytics.html %}
    {% include pwa.html %}
</body>
</html>
