---
layout: page
# List all subdomains
---

{% for subdomain in site.data.subdomain %}
<div class="subdomain-entity">
    <div class="subdomain-head">
        <h1>
            <a href="{{ subdomain.link }}" class="subdomain-head-a" target="_blank">
                {% if subdomain.icon %}
                <div class="subdomain-icon">
                    <img src="/assets/img/subdomain/{{ subdomain.icon }}" />
                </div>
                {% endif %}
                <div class="subdomain-title">
                    {{ subdomain.title }}
                </div>
            </a>
        </h1>
    </div>
    <div class="subdomain-link">
        <h6>
            ▶&nbsp;<a href="{{ subdomain.link }}" class="subdomain-a">
                {{ subdomain.link }}
            </a>
        </h6>
    </div>
    <div class="subdomain-desc">
        <p>
            {{ subdomain.description }}
        </p>
    </div>
</div>
{% endfor %}